 

 .nav-bar-link{
    font-size: 20px;
    margin-right: 10px;
 }
 
 .error{
    color: brown;
    font-size: 20px;
 }

 .regular_input{
   font-size: 20px;
   margin-bottom: 20px;

 }
 .chat-first-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .select_conversation_partner{
    font-size: 20px;
    color: black;
 }

 .start_conversation{
    font-size: 18px;
 }
 
 .message_list{
        height: 40vh;
        overflow: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        border: 5px solid black;
        padding:25px 15px 25px 30px;
      }

 .message{
        margin-bottom: 15px;
       list-style-type:none;
       font-weight:600;
       font-size: 18px;
      } 

.login-button{
   display: block;
   font-size: 18px;
   margin: 15px;
}

.submit-signup{
   display: block;
   font-size: 18px;
   margin: 15px;
}

.send_message{
    display: block;
    font-size: 19px;
    margin: 15px;
}

.textarea{
    height: 50px;
    width: 70%;
    max-width: 600px;
    font-size: 17px;
}

@media(max-width:800px)
{
    .chat-first-part{
        display: block;
    }
    .select_conversation_partner{
        margin-bottom: 15px;
     }
}